/* estructura basica */

/* @media tipo de medio and (condicion: ancho max y ancho minimo) */
/*las medias query son para que los cambios que querramos hacer segun
el tmaño de pantalla en que estemos viendo la web, se pueden usar todas 
las media query que quieran, aunque hay que ser prudentes, hay que ver 
medidas y todas las reglas que conllevan a las que un cliente queira, 
segun en el dispositivo que el cliente necesitew ver la web o el desee 
que se vean las caracteristicas*/

@media only screen and (max-width: 468px) {
    body {
        background-color: blue;
    }
 
@media only screen and (min-width: 468px) and (max-width:980px){
    .products {
        height:100vh;
    }

}
    p {
        font-size: 22px;
        color: blue;
    }
    
}
.parrafo-magic {
    display: none;
}

/*condiciones en  las cuales podemos usar las media query*/

/*(width - min-width - max-width - height: estas es para el tamaño de pantalla) 
- (aspect-ratio: esta es si el dispositvo tiene o encaja con la proporcion de aspecto indicada)-
 (orientention: esta si el dispositivo esta horizontal o vertical) - 
scan - resolution - monocrome - color-index*/

/* ahora voy a crear una media query para que un texto cambie de tamaño cada vez que roten el movil,
para esto tendremos que crear en que orientacion tiene que estar el movil para que actue de la forma
 que quiero y el tamaño de fuente que quiero que tenga, en este caso quiero que cresca cuando este 
 horizontal, pero tengo que ponerle una medida al principio para que funcione al cambiar a otra mas grande
 por eso en el html tendremos que previamente poner una font-size menor a la que yo pongo que crezca*/

@media only screen and (orientation: landscape)  {
    p {
        font-size: 44px;
    }
}

/*pint de pantalla, esta herramienta sirve para cuando quieras imprimir el documento vos les pongas las 
condicones, estas condiciones serian por ejemplo: que la letra sea roja en la web y a la hora de imparimir
seanegra, amarilla, o de la forma que nosotros hagamos las caractiristicas*/

@media print {
    p {
        color: brown;
        /* display: none; es para que no se pueda imprimir*/
    }


    
    
    /* tambien podemos hacer un mensaje que no se en la pagina y cuando mands imprimir aparece en la impresion,
    o sea, a este es al reves, no queremos que apresca en la pagina pero si cuando imprimimos, por eso pondremos 
    display: none;. y en el madia print pondremos display: block para que este mensaje se desbloquee a la hora
    de impresion, tambien hay que saber, dato no menor, que ubicar los cambios directos de las clase en html arriba
     de las medias query. en este caso @media print va a estsr despues de el cambiom que hicimos con la clase param
     que el parafo no apresca*/
    
    
    .parrafo-magic {
        display: block;
    }
}
/*en gral se usa para cosas mas obvia, se elimann fondos negrosd, intentar que predomine el gasto de tinta, usar
tipografias ára impresionocultar piblicidad, que en las impresiones apreascan las url de propaganda, o el color
 de los enlaces para que en las impresiones aprescan mas visibles */

/* page */

/*la regla page, que se usa para  tiene dos vaslores definidos, size y       , podemos establecer el formatro de 
la pagina en l sentido si es a4, A5, legal, carta y pasa de una esturctura a otra, podes combinar el page con el 
 print, latter. no es muy comun pero se puede aplicar */

 @page {
    size: 148mm 297mm; /* In */
 }

 /* existen media query para preferencais del usuario, es cuando el usuario quier evitar el color de fondo, evitar animacion, evitar escargas de archivos */

@media (prefers-color-scheme: dark) {
    body  {
        background-color: gray;
    }
}

/* si tenemos alguna animacion y queremos alterarle su estado, en este caso */



@media (prefers-reduced-motion: reduce) {
    .animacion  {
        transition: all 4s linear;
    }
}

/* tambien esta la del banda ancha reducido, esto hacew que cosas sean de mas baja
 calidad de imagern para que las cosas cargen mucho mas rapido */


 @media (prefers-reduced-data: reduce) {
    body  {
        background-color: url("bajacalidad.jpg")

    }
}


/* la recomendacion cuan do estemos haciendo css y quere ,eter alguna de estas reglas
 es a medida que vamos escribiendo, debajo ir poneindo las mediaas query, 
asi ya vamos organizando nuestro trabajo, y no tenemos que subir a revisar si lo
 hicimos o no lo damos x hecho. */

 /* ejemplo: */

.animacion {
    transition: all 2s;
}

.parrafo-magic {
    color:blue
}

@media screen and (max-width:480px) {
    .parrafo-magic {
        color: black;
    }
}

.products {
    background-image: url ("products.svg");
}

@media print {
    .products {
        background-image: none;
    }
}

/* medidas de las madias query para los disfentes dispositivos mobile-tablet-desktop */

/* mobile */

@media only screen and (max-width: 468px)  {
    body {
        background-color: red;
    }
}

/* table */

@media only screen and (min-width: 469px) and (max-width: 968px)  {
    body {
        background-color: blue;
    }
}

/* desktop */


@media only screen and (min-width: 961px)  {
    body {
        background-color: green;
    }
}


/* selectores */

/* selector hijo, se utiliza para seleccionar a los hjijos directos en las clases, esto es para marcar cuando es hijo directo de la etiqueta */

p > span {
    color: blue
}

/* selector desendente */

p span {
    color: blue
}

/* selector adyasentes, como son de la misma familia y toienen el mismo padres los juntamos coin el mas +*/

h1 + h2 {
    font-size: 50px;

}

/* selector por atributos: nom bre del atributo- el nombre del atributo con el valor*/

/* todos los que tengan el atributo class van a ser subrrayados */
a[class] {
    text-decoration: underline;
}

/* y todos los que tengas el atributo class y la clase tambien seria el valor */

a[class="enlace"] {
    text-decoration: underline;
}
a[href="contactos.html"] {
    color:green;
}

/* lo que hace es aplicar a todas las que tengan al menos en uno de sus valores "enlaces" */

a[class~="enlaces"] {
    text-decoration: underline;
}

/* las pseudoclases y pseudoelementos */

/* las pseudoclases lo que hacen es modificar la apriencia de los elemntos */

.parrafo-children:first-chil{
    color: red;
}

/* esta pseudoclases es para cuando tenes un link y todavia 
no fue visitado esta de un color y una vez visitado se pone de otro color */

.enlaces-pro:link {
    color: red;
}

.enlaces-pro:visited {
    color:violet;
}

/* se activa cuando ´pásamos el mouse por encima */

.enlaces-pro:hover {
    text-decoration: underline;
}

/* active se activa cuando el usuario pulsa el elemto */

.enlaces-pro:active {
    text-decoration: underline;
}

/* se activa cuando cuando y se utiliza en inputs cuando estan activados */
.enlaces-pro:focus {
    border: 2px solid black;
}

/* pseudoelementos modifica el estado de los elementos, nos permiten hacer cosas magicas */

.parrafo-magic::first-line {
    text-transform: uppercase;
}
/* si queres que la primera lñetra se pinte de roja */
.parrafo-magic::first-letter {
    color: red;
}


/* propiedad content */
h1:before{
    content:"capitulo 1";
}

p:after {
    content:"." ;
}

.enlaces-pro:hover::after {
    content: "♥";
}
